#campaign_form{
	display: none;
	margin-top:20px;
}

.cm-ads-changer-client .acc-edit-form{
	max-width:905px;
}

.cm-ads-changer-client h4{
	margin: 0;
	display: inline;
}

.cm-ads-changer-client .acc-shortcode-reference ul{
	display: none;
}

.cm-ads-changer-client textarea{
	width: 100%;
}

.cm-ads-changer-client .custom_style{
	display: none;
}

.acc-edit-form h3{
	margin:0;
}

.cm-ads-changer-client .acc-edit-form table {width:100%; padding:10px; border-radius:6px; background-color:#f5f5f5;vertical-align: top;box-sizing: border-box;}

.cm-ads-changer-client .acc-edit-form table tr td:last-child{
	width: 65%;
}
.cm-ads-changer-client .ac-form-hidden {display:none}
.cm-ads-changer-client .acc_success, .cm-ads-changer-client .acc_error {border:solid 1px; margin:10px 0; padding:15px 10px 15px 50px;list-style-type:none; background-repeat:no-repeat;background-position:10px 10px;}
.cm-ads-changer-client .acc_success {color:#4f8a10; background-color: #dff2bf; background-image:url(../images/success.png);}
.cm-ads-changer-client .acc_error {color:#d8000c; background-color:#ffbaba; background-image:url(../images/error.png);}
.cm-ads-changer-client .acc-edit-form td {vertical-align:top !important; padding-top:10px; padding-bottom:10px;}
.cm-ads-changer-client .acc-edit-form label.acc-form-label {font-weight:bold; display: inline;}
.cm-ads-changer-client .acc-edit-form input[type=file] {font-size:0.9em;}
.cm-ads-changer-client .acc-edit-form input[type=text], .acc-edit-form textarea, .acc-edit-form .mceLayout {background-color:#fff;}
.cm-ads-changer-client .acc-edit-form input[type=checkbox] {margin-right:2px; width:auto !important}
.cm-ads-changer-client input[type=text]{
	width: 100%;
}
.cm-ads-changer-client input[type=submit], .cm-ads-changer-client .acc-edit-form input[type=button]
{
	margin-top:5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #eeeeee;
	-webkit-box-shadow:inset 0px 1px 0px 0px #eeeeee;
	box-shadow:inset 0px 1px 0px 0px #eeeeee;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e7e7e7), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #e7e7e7 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#cccccc');
	background-color:#cccccc;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #aaaaaa;
	display:inline-block;
	color:#888888;
	font-family:Arial;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:21px;
	min-width:100px;
	text-decoration:none;
	text-align:center;
	padding:0px 30px;
}

.cm-ads-changer-client input[type=submit]:hover, .cm-ads-changer-client .acc-edit-form input[type=button]:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dddddd), color-stop(1, #e7e7e7) );
	background:-moz-linear-gradient( center top, #dddddd 5%, #e7e7e7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#e7e7e7');
	background-color:#dddddd;
}

.cm-ads-changer-client input[type=submit]:active, .cm-ads-changer-client .acc-edit-form input[type=button]:active{
	position:relative;
	top:1px;
}

.cm-ads-changer-client .field_help{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url('../images/help.png');
	cursor: pointer;
}

.cm-ads-changer-client .field_help:hover{
	background-image: url('../images/help_hover.png');
}

#variations_settings{
	display: none;
	padding-top:5px;
}

.cmac-clear{
	clear: both;
}

.right{
	float: right
}

.left{
	float: left;
	margin-right: 15px;
}

.ui-tabs-hide{
	display: none !important;
}

div.cmac_limited_size{
    position: relative;
    overflow: hidden;
}

div.cmac_limited_size img{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}